In [45]:
import pandas as pd

In [46]:
dados = pd.read_csv('./output/data/zap_imoveis_tratado.csv')

In [47]:
dados

,Valor,Bairro,Area,Quartos,Vagas,Banheiros,m2
0,585000.0,Norte,79,3,1,2,7405
1,1280000.0,Taguatinga Norte,360,4,3,3,3556
2,580000.0,Setor Habitacional Vicente Pires,210,3,4,3,2762
3,1170000.0,Asa Sul,86,3,1,2,13605
4,699000.0,Setor Habitacional Tororo,137,3,2,3,5102
...,...,...,...,...,...,...,...
1885,410000.0,Guara I,60,2,1,1,6833
1886,880000.0,Setor Habitacional Vicente Pires,417,3,2,4,2110
1887,660000.0,Norte,94,3,1,3,7021
1888,215000.0,Asa Norte,27,1,1,1,7963
1889,1100000.0,Setor Habitacional Jardim Botânico,406,5,2,7,2709

In [48]:
dados['Bairro']

0                                    Norte
1                         Taguatinga Norte
2         Setor Habitacional Vicente Pires
3                                  Asa Sul
4                Setor Habitacional Tororo
                       ...
1885                               Guara I
1886      Setor Habitacional Vicente Pires
1887                                 Norte
1888                             Asa Norte
1889    Setor Habitacional Jardim Botânico
Name: Bairro, Length: 1890, dtype: object

In [49]:
bairro_do_imovel = dados['Bairro']

In [50]:
bairro_do_imovel.drop_duplicates(inplace=True)

In [51]:
bairro_do_imovel

0                                  Norte
1                       Taguatinga Norte
2       Setor Habitacional Vicente Pires
3                                Asa Sul
4              Setor Habitacional Tororo
                      ...
1301                          Planaltina
1624                         Setor Leste
1631         Area Rural de Sao Sebastiao
1726           Area Rural de Santa Maria
1790                      Cruzeiro Velho
Name: Bairro, Length: 116, dtype: object

In [52]:
bairro_do_imovel = pd.DataFrame(bairro_do_imovel)

In [53]:
bairro_do_imovel

                                Bairro
0                                Norte
1                     Taguatinga Norte
2     Setor Habitacional Vicente Pires
3                              Asa Sul
4            Setor Habitacional Tororo
...                                ...
1301                        Planaltina
1624                       Setor Leste
1631       Area Rural de Sao Sebastiao
1726         Area Rural de Santa Maria
1790                    Cruzeiro Velho

[116 rows x 1 columns]

In [54]:
bairro_do_imovel.index = range(bairro_do_imovel.shape[0])

In [55]:
bairro_do_imovel

                               Bairro
0                               Norte
1                    Taguatinga Norte
2    Setor Habitacional Vicente Pires
3                             Asa Sul
4           Setor Habitacional Tororo
..                                ...
111                        Planaltina
112                       Setor Leste
113       Area Rural de Sao Sebastiao
114         Area Rural de Santa Maria
115                    Cruzeiro Velho

[116 rows x 1 columns]

In [56]:
bairro_selecao = [
    'Aguas Claras',
    'Asa Sul',
    'Asa Norte',
    'Lago Norte',
    'Lago Sul',
    'Setor Noroeste',
    'Setor Sudoeste',
    'Park Way'
]

In [57]:
bairro_selecao

['Aguas Claras',
 'Asa Sul',
 'Asa Norte',
 'Lago Norte',
 'Lago Sul',
 'Setor Noroeste',
 'Setor Sudoeste',
 'Park Way']

In [58]:
selecao = dados['Bairro'].isin(bairro_selecao)
selecao

0       False
1       False
2       False
3        True
4       False
        ...
1885    False
1886    False
1887    False
1888     True
1889    False
Name: Bairro, Length: 1890, dtype: bool

In [59]:
dados_residencial = dados[selecao]

In [60]:
dados_residencial

          Valor          Bairro  Area  Quartos  Vagas  Banheiros     m2
3     1170000.0         Asa Sul    86        3      1          2  13605
5     2400000.0       Asa Norte   173        4      2          4  13873
23     540000.0      Lago Norte    68        2      2          2   7941
26    1450000.0        Lago Sul   400        4      6          5   3625
34     693096.0       Asa Norte    39        1      1          1  17772
...         ...             ...   ...      ...    ...        ...    ...
1766  1200000.0  Setor Sudoeste    94        3      1          3  12766
1823   690000.0    Aguas Claras   107        3      2          1   6449
1836  1404908.0  Setor Noroeste   103        3      2          3  13640
1845   850000.0        Lago Sul   350        3      2          3   2429
1888   215000.0       Asa Norte    27        1      1          1   7963

[152 rows x 7 columns]

In [61]:
dados_residencial.index = range(dados_residencial.shape[0])

In [66]:
dados_residencial

         Valor          Bairro  Area  Quartos  Vagas  Banheiros     m2
0    1170000.0         Asa Sul    86        3      1          2  13605
1    2400000.0       Asa Norte   173        4      2          4  13873
2     540000.0      Lago Norte    68        2      2          2   7941
3    1450000.0        Lago Sul   400        4      6          5   3625
4     693096.0       Asa Norte    39        1      1          1  17772
..         ...             ...   ...      ...    ...        ...    ...
147  1200000.0  Setor Sudoeste    94        3      1          3  12766
148   690000.0    Aguas Claras   107        3      2          1   6449
149  1404908.0  Setor Noroeste   103        3      2          3  13640
150   850000.0        Lago Sul   350        3      2          3   2429
151   215000.0       Asa Norte    27        1      1          1   7963

[152 rows x 7 columns]

In [67]:
dados_residencial.to_csv('./output/data/compra_imoveis.csv', sep=';' ,index=False, encoding='utf-8-sig')

In [76]:
dados = pd.read_csv('./output/data/compra_imoveis.csv', sep=';')

selecao = (dados['Bairro'] == 'Aguas Claras') & (dados['Valor'] <= 1400000) & (dados['Area'] >= 120)
n1 = dados[selecao].shape[0]
n1

6

In [77]:
print("Numero de apartamentos em águas claras maiores que 120 m2 e com preço menor que 1400000 reais. -> {}".format(n1))

Numero de apartamentos em águas claras maiores que 120 m2 e com preço menor que 1400000 reais. -> 6